In [132]:
import MetaTrader5 as mt5
import time
import pandas as pd
import numpy as np

In [133]:
ativo1 = 'WLMM4F'
ativo2 = 'ITUB4'

In [134]:
mt5.initialize()

True

In [135]:
selecionado01 = mt5.symbol_select(ativo1)
selecionado02 = mt5.symbol_select(ativo2)

In [136]:
itens = mt5.market_book_get(ativo1)
mt5.market_book_release(ativo1)

bookDict = {'type':[], 'price':[], 'volume':[]}

for item in itens:
    bookDict['type'].append(item._asdict()['type'])
    bookDict['price'].append(item._asdict()['price'])
    bookDict['volume'].append(item._asdict()['volume'])

# print(item._asdict()['type'])
df = pd.DataFrame.from_dict(bookDict, orient= 'index').T
df

    type  price  volume
0    1.0  45.15     1.0
1    1.0  45.14    99.0
2    1.0  42.69     3.0
3    1.0  42.68     3.0
4    1.0  40.97    10.0
5    1.0  40.96    99.0
6    2.0  36.82    10.0
7    2.0  36.81    10.0
8    2.0  36.80     1.0
9    2.0  34.01    99.0
10   2.0  34.00     1.0
11   2.0  33.55     1.0
12   2.0  33.00     1.0
13   2.0  32.00     1.0
14   2.0  31.00     1.0

In [137]:
df_compra = df[df['type'] == 1.0].reset_index()
df_compra

   index  type  price  volume
0      0   1.0  45.15     1.0
1      1   1.0  45.14    99.0
2      2   1.0  42.69     3.0
3      3   1.0  42.68     3.0
4      4   1.0  40.97    10.0
5      5   1.0  40.96    99.0

In [138]:
df_venda = df[df['type']== 2.0].reset_index()
df_venda

   index  type  price  volume
0      6   2.0  36.82    10.0
1      7   2.0  36.81    10.0
2      8   2.0  36.80     1.0
3      9   2.0  34.01    99.0
4     10   2.0  34.00     1.0
5     11   2.0  33.55     1.0
6     12   2.0  33.00     1.0
7     13   2.0  32.00     1.0
8     14   2.0  31.00     1.0

In [139]:
print("Melhor valor de compra: ", df_compra['price'].iloc[-1])
print("Melhor valor de venda: ", df_venda['price'].iloc[0])

Melhor valor de compra:  40.96
Melhor valor de venda:  36.82

In [ ]:
volume_compra = 0
volume_venda = 0

while volume_compra <= 100:
    #Codigo para coluna de compra


while volume_venda <= 100:
    #codigo para coluna de venda